<%= form_for article do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Enter the article title", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, placeholder: "Enter the article content", class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
